.app img {
  display: none ;
}

body.set--in .app img {
  display: inline-block;
}

body {
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

body.set--in {
  opacity: 1;
}


/* .app img {
  display: none;
}

body.set--in .app img {
  display: inline-block;
} */
